<h1>Todos las tareas</h1>

<p>
    <%= link_to "Nueva Tarea", new_todo_path %>
</p>

<table>
<tr>
    <th>name</th>
    <th>descripcion</th>
</tr>
    <% @todos.each do |todo| %>
    <tr>
        <td><%= todo.name %></td>
        <td><%= todo.description %></td>
        <td><%= link_to "Editar", edit_todo_path(todo) %></td>
        <td><%= link_to "Mostrar", todo_path(todo) %></td>
        <td><%= link_to "Eliminar", todo_path(todo), method: :delete, data:{confirm: "Estas seguro?"}%></td>
         </td>
    </tr>
    
    <% end %>
    
</table>